@charset "UTF-8";
/*index.css*/

/****************header*****************/

#headerBox {
  height: 60px;
  line-height: 60px; /*줄간격 - 수직으로 가운데 정렬 효과*/
  padding: 0;
}

#logoBox {
  float: left;
  height: 60px;
  line-height: 60px;
}

/*********** top menu *******************/
#topMenuBox {
  float: right;
  font-weight: bold;
  padding-right: 10px;
}

/* 메인 메뉴 고정 */
.mainMenuFixed {
  position: fixed;
  top: 0px;
}

/* 메인 메뉴 아래 그림자 표시 */
.mainMenuShadow {
  box-shadow: 0px 3px 5px 0px gray;
}
